doctype html
html(lang="en")
  include ../includes/head
body.page(data-role="page" class='page__'+page)
  header.header
    a.logo(data-init="data-init" href="/")
    h1.page_header(data-init="data-init")
      block page_header
    include ../includes/search
    if page != 'brands' && page != 'brand' && page != 'category'
      nav.nav(data-init="data-init")
        include ../includes/nav
    nav.breadcrumbs
      include ../includes/breadcrumbs
  .page_wrapper(data-init="data-init")
    .page_container
      block page_container
  if page != 'brands' && page != 'brand' && page != 'category' && page != 'product'
    include ../includes/footer
  include ../includes/modal
  include ../includes/product
  include ../includes/cart
  include ../includes/order
  script(src="/public/js/vendor/jquery-1.10.2.min.js")
  script(src="/public/js/vendor/handlebars-v3.0.1.js")
  script(src="/public/js/vendor/masonry.pkgd.min.js")
  script(src="/public/js/application.js")
