@import "foundation/normalize"
@import "foundation/reset"
@import "foundation/mixins"

@import "base/theme"
@import "base/init"

@import "project/page"
@import "project/header"
@import "project/footer"
@import "project/nav"
@import "project/catalog"

@import "pages/index"
@import "pages/contacts"
@import "pages/team"