extends layouts/layout.jade

block page_header
  = 'Нам нравятся наши товары. Вам тоже понравятся!'

block page_container
  .brand_container
    a.brand_item(href="#" modal_show content="#brand")
      img(src="https://pp.vk.me/c9554/u48331226/155022070/z_0d373501.jpg")
      .brands_item_caption
        | Test caption
      .brands_item_price
        | 1 000 000 Р    
    a.brand_item(href="#" modal_show content="#brand")
      img(src="https://pp.vk.me/c9554/u48331226/155022070/x_6ff2e874.jpg")
      .brands_item_caption
        | Test caption
      .brands_item_price
        | 1 000 000 Р    
    a.brand_item(href="#" modal_show content="#brand")
      img(src="https://pp.vk.me/c5146/u48331226/155022070/z_90a8dbe0.jpg")
      .brands_item_caption
        | Test caption
      .brands_item_price
        | 1 000 000 Р    
    a.brand_item(href="#" modal_show content="#brand")
      img(src="https://pp.vk.me/c5146/u48331226/155022070/x_f0ce237c.jpg")
      .brands_item_caption
        | Test caption
      .brands_item_price
        | 1 000 000 Р    
    a.brand_item(href="#" modal_show content="#brand")
      img(src="https://pp.vk.me/c5146/u48331226/155022070/z_f819e9ef.jpg")
      .brands_item_caption
        | Test caption
      .brands_item_price
        | 1 000 000 Р    
    a.brand_item(href="#" modal_show content="#brand")
      img(src="https://pp.vk.me/c5146/u48331226/155022070/y_5515873d.jpg")
      .brands_item_caption
        | Test caption
      .brands_item_price
        | 1 000 000 Р    
    a.brand_item(href="#" modal_show content="#brand")
      img(src="https://pp.vk.me/c5146/u48331226/155022070/z_c1caea49.jpg")
      .brands_item_caption
        | Test caption
      .brands_item_price
        | 1 000 000 Р    
    a.brand_item(href="#" modal_show content="#brand")
      img(src="https://pp.vk.me/c5146/u48331226/155022070/x_96594499.jpg")
      .brands_item_caption
        | Test caption
      .brands_item_price
        | 1 000 000 Р    
    a.brand_item(href="#" modal_show content="#brand")
      img(src="https://pp.vk.me/c5146/u48331226/155022070/x_a5b41bd5.jpg")
      .brands_item_caption
        | Test caption
      .brands_item_price
        | 1 000 000 Р    
    a.brand_item(href="#" modal_show content="#brand")
      img(src="https://pp.vk.me/c5146/u48331226/155022070/y_26f39836.jpg")
      .brands_item_caption
        | Test caption
      .brands_item_price
        | 1 000 000 Р    
    a.brand_item(href="#" modal_show content="#brand")
      img(src="https://pp.vk.me/c5146/u48331226/155022070/x_45f28ed8.jpg")  
      .brands_item_caption
        | Test caption
      .brands_item_price
        | 1 000 000 Р  

  #brand
    .brand-show
      .brand-show_category
        | Test category
      .brand-show_title
        | Test title
      .brand-show_left
        img.brand-show_picture(src="https://pp.vk.me/c9554/u48331226/155022070/z_0d373501.jpg")
        .brand-show_price
          | 1 000 000 P
      .brand-show_right    
        ul.brand-show_chars
          li.brand-show_chars_item
            | полноразмерная напольная
          li.brand-show_chars_item
            | встраиваемая частично
          li.brand-show_chars_item
            | сушка путем испарения горячих капель
          li.brand-show_chars_item
            | экономичный расход воды
          li.brand-show_chars_item
            | минимальный расход электричества
          li.brand-show_chars_item
            | защита от детей
          li.brand-show_chars_item
            | дисплей

    