extends layouts/layout.jade

block page_header
  = 'Нам нравятся наши товары. Вам тоже понравятся!'

block page_container
  .brands_container
    a.brands_item(href="/brands/id")
      img(src="https://pp.vk.me/c9554/u48331226/155022070/z_0d373501.jpg")
    a.brands_item(href="/brands/id")
      img(src="https://pp.vk.me/c9554/u48331226/155022070/x_6ff2e874.jpg")
    a.brands_item(href="/brands/id")
      img(src="https://pp.vk.me/c5146/u48331226/155022070/z_90a8dbe0.jpg")
    a.brands_item(href="/brands/id")
      img(src="https://pp.vk.me/c5146/u48331226/155022070/x_f0ce237c.jpg")
    a.brands_item(href="/brands/id")
      img(src="https://pp.vk.me/c5146/u48331226/155022070/z_f819e9ef.jpg")
    a.brands_item(href="/brands/id")
      img(src="https://pp.vk.me/c5146/u48331226/155022070/y_5515873d.jpg")
    a.brands_item(href="/brands/id")
      img(src="https://pp.vk.me/c5146/u48331226/155022070/z_c1caea49.jpg")
    a.brands_item(href="/brands/id")
      img(src="https://pp.vk.me/c5146/u48331226/155022070/x_96594499.jpg")
    a.brands_item(href="/brands/id")
      img(src="https://pp.vk.me/c5146/u48331226/155022070/x_a5b41bd5.jpg")
    a.brands_item(href="/brands/id")
      img(src="https://pp.vk.me/c5146/u48331226/155022070/y_26f39836.jpg")
    a.brands_item(href="/brands/id")
      img(src="https://pp.vk.me/c5146/u48331226/155022070/x_45f28ed8.jpg")          

  