extends layouts/layout.jade

block page_header
  = 'Нам нравятся наши товары. Вам тоже понравятся!'

block page_container
  .brand_container(brand="#{id}")
  .brand_actions
    //- a.brand_load-more(href="#" role="brand.load-more") Загрузить еще