extends layouts/layout.jade

block page_header
  = 'Нам нравятся наши товары. Вам тоже понравятся!'

block page_container
  .brands_container
    a.brands_item(href="/brands/id")
      img(src="/public/pic/elica.png")
    a.brands_item(href="/brands/id")
      img(src="/public/pic/gaggenau.png")
    a.brands_item(href="/brands/id")
      img(src="/public/pic/liebherr.png")
    a.brands_item(href="/brands/id")
      img(src="/public/pic/neff.png")
    a.brands_item(href="/brands/id")
      img(src="/public/pic/miele.png")
    a.brands_item(href="/brands/id")
      img(src="/public/pic/kitchenaid.png")
       

  