extends layouts/layout.jade

block page_header
  = 'Вам у нас обязательно понравится'

block page_container
  .contacts-sections
    .contacts_section(style="padding:0 120px 50px")
      | Приезжайте к нам и вы сами все увидите! 
      br
      | Мы работаем каждый день с 10:00 до 21:00
      a(href="#map", style="line-height:30px;").map_link.contact_link_info Мы на карте
    .contacts_section(style="padding:0 70px 50px")
      span Das Brilliant
      | , ул. Федунинского, д. 43
      br
      | Тюмень, 625062
      br
      br
      a(href="/public/pic/legal_information.pdf", style="line-height:30px;").contact_link_info Информация о юридическом лице
      br
      a(href="/public/pic/shipping-and-payment.pdf", style="line-height:30px;").contact_link_info Информация о доставке и оплате
    .contacts_section(style="padding:0 100px 50px")
      | Отправьте ваше письмо по адресу
      br
      a(href="mailto:hello@dasbrilliant.com") hello@dasbrilliant.com
      br
      | или позвоните нам
      br
      span 8 800 333-36-25  
