extends layouts/layout.jade

block page_header
  = 'Вам у нас обязательно понравится'

block page_container
  .contacts-sections
    .contacts_section
      | Мы находимся в самом центре города.
      br
      | Приезжайте к нам и вы сами все увидите!
    .contacts_section
      span Das Brilliant
      | , ул. Горького, дом 4а
      br
      | Екатеринбург, 620075  
    .contacts_section
      | Отправьте ваше письмо по адресу
      br
      a(href="mailto:hello@dasbrilliant.com") hello@dasbrilliant.com
      br
      | или позвоните нам
      br
      span +7 800 123-45-67  