extends layouts/layout.jade

block page_header
  = 'Магазин немецкой бытовой техники'

block page_container
  .index_text
    | Рады приветствовать вас в магазине 
    br
    | немецкой бытовой техники и кухни&nbsp;
    span Das Brilliant
    |.
  .index_catalog-link
    a.catalog-link(href="/")