extends layouts/layout.jade

block page_header
  = 'Давайте вместе делать окружающий мир лучше'

block page_container
  .team_container
    .team-item
      .team-item_name Simon Blee
      .team-item_profession Pro Market
    .team-item
      .team-item_name Simon Blee
      .team-item_profession Pro Market
    .team-item
      .team-item_name Simon Blee
      .team-item_profession Pro Market
    .team-item
      .team-item_name Simon Blee
      .team-item_profession Pro Market
    .team-item
      .team-item_name Simon Blee
      .team-item_profession Pro Market
    .team-item
      .team-item_name Simon Blee
      .team-item_profession Pro Market
    .team-item
      .team-item_name Simon Blee
      .team-item_profession Pro Market
    .team-item 
      .team-item_name Simon Blee
      .team-item_profession Pro Market