if page == 'brands'
  a.breadcrumbs_link(href="/") Галлерея
  span.breadcrumbs_item →
  span.breadcrumbs_item Производители

if page == 'brand'
  a.breadcrumbs_link(href="/") Галлерея
  span.breadcrumbs_item →
  a.breadcrumbs_link(href="/brands") Производители  
  span.breadcrumbs_item →
  span.breadcrumbs_item.breadcrumbs_item_brend 