a.nav_item(href="/" class=page == 'index' ? 'active' : '') Галерея
a.nav_item(href="/team" class=page == 'team' ? 'active' : '') Наша команда
a.nav_item(href="/contacts" class=page == 'contacts' ? 'active' : '') Контакты