div.cart-info
	.cart-number 3
//- form.search(action="/" method="GET" data-init="data-init")
//-   input(type="checkbox" id="search_show")
//-   label.search_label(for="search_show")
//-   .search_control
//-     input(type="text" id="form_search" name="search_field" placeholder="Что будем искать?")

