.page__brands,
.page__brand
  background-color #e7e7e7
  color #000
  
  .header, 
  .footer 
    
    &::before 
      background-image none
      background-color #e7e7e7
      
  .header
    
    .logo
      
      &::before
        background-image url(public'images/logo_gear_black.png')
        
      &::after  
        background-image url(public'images/logo_sign_black.png')
  
  .search_label 
    background-image url(public'images/search_label_black.png')      
  
  .social__fb
    
    &::after
      background-image url(public'images/fb_black.png')  
  
  .social__tw
    
    &::after
      background-image url(public'images/tw_black.png')  
    
  .social__vk
        
    &::after
      background-image url(public'images/vk_black.png')  
      
.brands_container
  width 1160px
  margin auto      
      
.brands_item
  width 250px
  margin-bottom 52px

  img
    display block
    width 100%    
    
.brand_container 
  width 1160px
  padding: 0
  margin: auto
  list-style: none
  
  display: -webkit-box
  display: -moz-box
  display: -ms-flexbox
  display: -webkit-flex
  display: flex
  
  -webkit-flex-flow: row wrap
  justify-content: space-between


.brand_item 
  color: white
  text-align: left
  margin-bottom 52px
  margin 0 15px 52px
  text-decoration none
  color #000
  
  img
    max-height 200px
    margin-bottom 6px
    display block
  
  &:hover
    color #ff3300  
    
.brands_item_caption
  font-size 18px    

.brands_item_price
  font-size 24px  
  
.brand-show_left,
.brand-show_right
  display inline-block
  vertical-align top
  width 50%
  
.brand-show_left
  text-align center  
  padding-right 25px
  
.brand-show_right
  padding-left 25px  
  
.brand-show_category
  margin-bottom 7px
  color #888888
  font-size 18px
  
.brand-show_title
  margin-bottom 20px
  font-size 36px
  color #000
  
.brand-show_picture
  margin-bottom 20px
  width 100%
  display block
  
.brand-show_price
  font-size 36px
  color #000
  
.brand-show_chars
  font-size 20px
  
.brand-show_chars_item
  line-height 25px
  
  &::before
    content '-'
    margin-right 5px
  
          
    
