.page__brands,
.page__category,
.page__brand
  background-color #fff
  color #000
  
  .header, 
  .footer 
    
    &::before 
      background-image none
      background-color #fff
      
  .header
    
    .logo
      
      &::before
        background-image url(public'images/logo_gear_black.png')
        
      &::after  
        background-image url(public'images/logo_sign_black.png')
  
  .search_label 
    background-image url(public'images/search_label_black.png')      
  
  .social__fb
    
    &::after
      background-image url(public'images/fb_black.png')  
  
  .social__tw
    
    &::after
      background-image url(public'images/tw_black.png')  
    
  .social__vk
        
    &::after
      background-image url(public'images/vk_black.png')  
      
.brands_container
  width 1160px
  margin auto      
      
.brands_item
  width 250px
  margin-bottom 52px


  img
    display block
    width 100%    
    
.brand_container 
  width 1160px
  padding: 0
  margin: auto
  list-style: none
  
  display: -webkit-box
  display: -moz-box
  display: -ms-flexbox
  display: -webkit-flex
  display: flex
  
  -webkit-flex-flow: row wrap
  justify-content: space-between


.brand_item 
  color: white
  text-align: left
  margin-bottom 52px
  margin 0 15px 52px
  text-decoration none
  color #000
  cursor pointer
  
  img
    max-height 200px
    margin-bottom 6px
    display block
  
  &:hover
    color #ff3300  
    
.brands_item_caption
  font-size 18px    

.brands_item_price
  font-size 24px  
  
.brand-show_left,
.brand-show_right
  display inline-block
  vertical-align top
  width 50%
  
.brand-show_left
  text-align center  
  padding-right 25px
  
.brand-show_right
  padding-left 25px  
  
.brand-show_category
  margin-bottom 7px
  color #888888
  font-size 18px
  
.brand-show_title
  margin-bottom 20px
  font-size 36px
  color #000
  
.link_to_contacts
  margin-top 10px
  display block
  color black
  text-decoration none
  &:hover
    color #3eb5f1
  

.brand-show_picture
  margin-bottom 20px
  width 100%
  display block
  
.brand-show_price
  font-size 36px
  color #000
  
.brand-show_chars
  font-size 20px
  
.brand-show_chars_item
  line-height 25px
  
  &::before
    content '-'
    margin-right 5px
    
#brand
  display none    

.button
  margin-top 80px
  background-color #414141
  color #fff
  font-size 24px
  padding-top 20px
  padding-bottom 20px
  padding-left 50px
  padding-right 50px
  cursor pointer
  border:none
  outline none 
  
.button:hover
  background-color #505050
  
.button:active
  background-color #303030
.center-button
  text-align center
  
.brand_actions
  text-align center
  

  
.cart-product
  clear both
  margin-top 30px
  
  
.cart-image
  text-align center
  height 100px
  float left
  width 150px
  overflow hidden
  
.cart-info-block, .cart-col, .cart-decrement, .cart-num, .cart-increment, .cart-price
  float left
  
.cart-info-block
  margin-right 5px
  margin-left 5px
  width 300px

.cart-category, .cart-col-name, .cart-price-name, .cart-result-name
  margin-bottom 20px
  color #888888
  font-size 16px

.cart-name, .cart-col-info, .cart-price-value, .cart-result-value
  color #242424
  font-size 20px
  
.cart-col
  margin-right 20px
  
.cart-col
  margin-left 30px

.cart-increment, .cart-decrement
  cursor:pointer
  
.cart-decrement
  margin-right 5px
  margin-left 25px
  
.cart-increment
  margin-left 5px
  
 .cart-result
   float right
   margin-top 20px
   
  .cart-title 
    color #242424
    font-size 35px
    margin-bottom 40px  
    
  .cart-no
    width 100%
    text-align center
    color #888888
    font-size 20px
    margin-bottom 40px
    display none 
    
  .form_text
    display block
    width 100%
    padding 5px
    margin-bottom 10px
    outline none
    
  .form_text:focus
    border 1px solid #242424
    

  .cart_error 
    width 100%
    text-align center
    color #f30
    font-size 17px
    display none
    
  .cart-info
    width 100%
    text-align center
    color #888888
    font-size 20px

.categories-list
  padding 0 20px 15px
   
.categories-header
  color white
  display block
  text-decoration none
  border-bottom 1px solid white
  padding 15px 0
  margin 0 20px
  &:hover
    text-decoration underline
  
.category-link
  padding 15px 0 0 0
  font-size 15px
  line-height 17px
  display block
  color white
  text-decoration none
  &:hover
    text-decoration underline