.page__index,

  &,
  .footer::before
    background-image url(public'/images/bg_index.jpg')

  .nav

  .page_container
    padding-top 51px  

.index_text
  text-align center
  padding 162px 106px 0 106px
  font-size 36px
  line-height 21px
  font-weight bold

.index_subtext
  margin 40px 320px
  font-size 22px
  line-height 26px
  text-align center

.index_buttons
  text-align center
  margin 10px auto 0

.index_button
  display inline-block
  padding 10px 0
  height 60px
  background white
  border-radius 30px
  text-decoration none
  vertical-align middle
  color black
  font-size 18px
  line-height 38px
  margin: 18px 36px

.button_catalog
  width 228px
  &:hover
    background #00AFBC
    color white

.button_consult
  color white
  background #00AFBC
  width 310px
  &:hover
    color black
    background white
  
.index_promo_part
  height 200px
  background white
  position relative
.index_promo_part
  .flex-viewport
    width 100vw
    height 100%
    margin 0 auto

.index_promo_part 
  .flex-control-nav
    display none

.promo_slider
  height 100%
.promo_slider_arrow
  color black
  position absolute
  width 14px
  height 36px
  top 82px
  cursor pointer
  z-index 10

.promo_slider_arrow.fa
  font-size 36px
  line-height 36px

  &:hover
    link_color()

.promo_slider_arrow.slider_arrow_left
  left 40px

.promo_slider_arrow.slider_arrow_right
  right 40px
  
.promo_slider_caret
  position absolute
.promo_slide
  width 100vw

.promo_slide_inner
  width 100%
  padding 40px 358px
  display table
  background #f2f2f2

.slide_image
  border-radius 60px
  background gray
  width 120px
  height 120px
  float left

.slide_text
  color black
  padding 0 0 0 30px
  display table-cell
  vertical-align middle
  line-height 26px
  font-size 22px

.index_welcome_part
  height 90vh

.index_features_part
  height 644px
  background white

.features_title
  lato()
  color black
  font-size 24px
  line-height 30px
  font-weight bold
  padding 50px 0 40px 0
  margin 0 auto
  text-align center

.featires_container
  height 522px
  margin 0 auto
  padding-bottom 40px
  width 1200px
  border-bottom 1px solid #00afbc
  display flex
  flex-direction column
  flex-wrap wrap
  justify-content space-between
  align-items flex-start
  align-content flex-start

.feature_item
  width 400px
  height 160px
  flex-grow 1
  lato()
  color black

.feature_icon
  width 50px
  height 50px
  text-align center
  margin 0 auto 14px

.feature_text
  font-size 22px
  line-height 28px
  text-align center
  
  
.index_map_part
  background white
  padding 80px
  height 620px

.index_map_wrapper
  width 1280px
  margin 0 auto

.index_map_container
  width 580px
  height 100%
  float left
  margin-right 40px

.map_address_name
  color black
  font-size 24px
  font-weight bold
  line-height 29px
  margin-bottom 10px

.map_address_text
  color black
  font-size 16px
  line-height 18px
  margin-bottom 30px

.map_time_name
  color black
  font-size 24px
  line-height 29px
  margin-bottom 10px

.map_time_text
  color black
  font-size 16px
  line-height 18px
  margin-bottom 40px

.map_info_name
  color black
  font-size 24px
  line-height 29px
  margin-bottom 8px

.map_info_text
  color black
  font-size 16px
  line-height 18px

.index_link
  color #00AFBC
  display block
  font-size 16px
  text-decoration none
  border-bottom 1px dotted #00afbc
  line-height 23px
  display inline-block

.button_write
  background #00AFBC
  border-radius 30px
  line-height 20px
  color white
  padding 18px 38px
  margin 30px 0 0 0
  vertical-align top
  
#map
  width 580px
  height 500px