.header
  position relative
  top 0
  z-index 2
  padding 30px 40px
  width 100%
  height 80px
  background black

.header_wrapper
  width 1280px
  margin 0 auto

.logo
  display inline-block
  z-index 2
  width 228px
  position relative
  
  &::before
    position absolute
    left 0
    top -29px
    width 40px
    height 40px
    background-image url(public'images/logo_gear.svg')
    content ''

  &::after
    position absolute
    left 56px
    top -21px
    width 172px
    height 23px
    background-image url(public'images/logo_text.svg')
    content ''

  &:hover
    
    &::before
      transform rotate(360deg)   
  
.menu
  margin 0 210px 0 363px
  display inline-block
  text-align center
  transition all 0.3s ease
  
.menu_toggler
  width 20px
  height 20px
  position relative
  cursor pointer

.menu_toggler.zmdi
  font-size 22px
  &:hover
    link_color()

.menu_block
  width 100%
  position absolute
  top 80px
  left 0
  height 154px;
  background rgba(0, 0, 0, 0.25)
  padding 20px 0 0 0
  text-align center
  transform translate3d(0px, -300px, 0px)

.menu.expanded
  .menu_toggler:before
    content '\f136'

  .menu_block
    transform translate3d(0px, 0px, 0px)
    transition transform 0.5s ease
    display block

.menu_link
  margin 0 auto 14px
  text-decoration none
  color white
  font-size 16px
  display block

  &:hover
    link_color()

.header_phone
  width 174px
  font-size 16px
  lato()
  position relative
  top -4px
  display inline-block
  transition all 0.3s ease

.header_phone i
  margin-right 16px
  font-size 22px
  line-height 19px
  vertical-align top

.header_buttons
  width 123px
  border-left 1px solid white
  border-right 1px solid white
  display inline-block
  vertical-align top
  padding 0 30px
  transition all 0.3s ease

.header_wishlist
  cursor pointer
  vertical-align top
  display inline-block
  margin 0 20px 0 0
  width 20px
.header_wishlist.fa
  font-size 20px
  line-height 20px
  &:hover
    link_color()

.header_busket
  cursor pointer
  vertical-align top
  display inline-block
  width 20px
.header_busket.zmdi
  font-size 22px
  line-height 20px
  &:hover
    link_color()

.socials
  vertical-align top
  padding: 0 0 0 25px
  m_inline-blocks()
  display inline-block

.social
  position relative
  margin 0

  &::before,
  &::after
    display block
    position absolute
    left 0
    top 0
    width 100%
    height 100%
    content ''
    transition all 0.3s ease

  &::before
    opacity 0

  &::after
    opacity 1

  &:hover
    
    &::before
      opacity 1

    &::after
      opacity 0

.social__fb
  width 10px
  height 19px
  margin 0 20px 0 0

  &::before
    background-image url(public'images/fb__hover.png')

  &::after  
    background-image url(public'images/fb.png')

.social__tw
  width 27px
  height 19px

  &::before
    background-image url(public'images/tw__hover.png')

  &::after  
    background-image url(public'images/tw.png')

.social__vk
  width 27px
  height 15px

  &::before
    background-image url(public'images/vk__hover.png')

  &::after  
    background-image url(public'images/vk.png') 

.cart-info
  background-image url("../images/cart-white.svg")
  position relative
  top 4px
  cursor pointer 
  width 20px
  height 20px
  
.cart-number
  border-radius 100px
  background-color #ff3300
  position absolute
  font-size 14px
  padding-top 2px
  padding-right 5px
  padding-bottom 2px
  padding-left 5px
  top -6px
  left 12px
  color #fff
  cursor pointer

.page__brands .cart-info,
.page__category .cart-info,
.page__brand .cart-info
  background-image url("../images/cart.svg")
  
.page__brands .cart-number,
.page__category .cart-number,
.page__brand .cart-number
    color #000

.page_header
  position absolute
  top 10px
  width 100%
  text-align center
  font-family 'Didact Gothic', sans-serif
  font-size 30px
  line-height 28px
  font-weight 300
  text-align center

  